.wrapper {
  font-family: 'Arial';
  display: flex;
  justify-content: center;
  text-align: center;
}

.wizard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  min-height: 300px;
  color: white;
  background: gray;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 1px;
}

.title {
  font-size: 23px;
  margin-bottom: 23px;
  border-bottom: 1px solid white;
}

.options {
  display: flex;
  flex-direction: column;
}

.options,
.result {
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
}

label,
input,
button {
  cursor: pointer;
}

input {
  display: none;
}

input:checked + label,
p {
  color: limegreen;
}

span {
  color: white;
}

label {
  margin: 10px;
}

button {
  font-weight: bold;
  color: white;
  background-color: limegreen;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
}

button:disabled {
  color: darkgray;
  background-color: grey;
  border: 1px solid darkgray;
  cursor: not-allowed;
}

